  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
  <link rel="stylesheet" href="../../public/stylesheets/style.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');
  </style>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/auth/logout" class="siwg-link">
        <button type="submit" class="siwg">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
    <div id="nav-links">
      <a href="/photos" id="all-photos">All Photos</a>
      <a href="/photos/new" id="upload-photo">Upload Photo</a>
    </div>
  </nav>
