<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <div>Title</div>
  <img src="https://i.imgur.com/xElo1Sm.jpg" width="300">
  <p>Gecko sitting in bowl</p>
</section>
<div>Comments</div>

<%- include('../partials/footer') %>