<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section id="main-photo">
  <div>Title</div>
  <img src="https://i.imgur.com/xElo1Sm.jpg" width="500">
  <p>Gecko sitting in bowl</p>
</section>

<section id="comments">
  <h1>Comments</h1>
</section>

<%- include('../partials/footer') %>